# for Linear algebra - vectors and matrices
numpy
# for adding clarity to plots 
matplotlib
# for train_test_split
scikit-learn
# for confusion matrix
seaborn
# for fashion mnist dataset 
keras
# for logging 
wandb
# for better visualisation 
tqdm